<form action="/login" method="POST">
    <div class="container" >
            <h1>Login</h1>
            {{#if loginErr}}
                <p class="error text-danger">Invalid username or password</p>
            {{/if}}

        <div class="row ">
            <div class="col-md-7 pt-5">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email id</label>
                    <input type="email" name="Email" placeholder="Email id" class="form-control">

                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control">

                </div>
                <a href="/signup">Create a new account</a>
                <button type="submit" class="btn btn-success float-right" >Login</button>
            </div>
        </div>
    </div>

</form>